.hide{
    display: none;
}
@media (max-width: 576px){
    .header{
        background-image: none;
    }
    nav{
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
    }
    .banner,
    .skills-container, .resume-container, .about-info-container, .banner{
        flex-direction: column;
    }
    .banner{
        padding: 20px;
    }
    .btn-primary{
        margin-bottom: 20px;
    }
    .banner .profile-pic{
        width: 100%;
    }
    nav ul{
        gap: 12px;
    }
    .what-i-do{
        padding: 20px;
    }
    footer, .about{
        flex-direction: column;
        padding: 10px;
    }
    .footer-column{
        width: 100%;
    }
}
@media (max-width: 960px){
    .btn-primary{
        margin-bottom: 20px;
    }
}